[class*=" el-icon-lx"],
[class^=el-icon-lx] {
    font-family: lx-iconfont !important;
}

@font-face {
    font-family: "lx-iconfont";
    src: url(fonts/iconfont.woff) format("woff"), url(fonts/iconfont.ttf) format("truetype");
}

.lx-iconfont {
    font-family: "lx-iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.el-icon-lx-edit:before {
    content: "\e649";
}

.el-icon-lx-emoji:before {
    content: "\e64a";
}

.el-icon-lx-favorfill:before {
    content: "\e64b";
}

.el-icon-lx-favor:before {
    content: "\e64c";
}

.el-icon-lx-locationfill:before {
    content: "\e650";
}

.el-icon-lx-location:before {
    content: "\e651";
}

.el-icon-lx-roundcheckfill:before {
    content: "\e656";
}

.el-icon-lx-roundcheck:before {
    content: "\e657";
}

.el-icon-lx-roundclosefill:before {
    content: "\e658";
}

.el-icon-lx-roundclose:before {
    content: "\e659";
}

.el-icon-lx-search:before {
    content: "\e65c";
}

.el-icon-lx-timefill:before {
    content: "\e65e";
}

.el-icon-lx-time:before {
    content: "\e65f";
}

.el-icon-lx-warnfill:before {
    content: "\e662";
}

.el-icon-lx-warn:before {
    content: "\e663";
}

.el-icon-lx-camerafill:before {
    content: "\e664";
}

.el-icon-lx-camera:before {
    content: "\e665";
}

.el-icon-lx-commentfill:before {
    content: "\e666";
}

.el-icon-lx-comment:before {
    content: "\e667";
}

.el-icon-lx-likefill:before {
    content: "\e668";
}

.el-icon-lx-like:before {
    content: "\e669";
}

.el-icon-lx-notificationfill:before {
    content: "\e66a";
}

.el-icon-lx-notification:before {
    content: "\e66b";
}

.el-icon-lx-shop:before {
    content: "\e676";
}

.el-icon-lx-back:before {
    content: "\e679";
}

.el-icon-lx-cascades:before {
    content: "\e67c";
}

.el-icon-lx-more:before {
    content: "\e684";
}

.el-icon-lx-scan:before {
    content: "\e689";
}

.el-icon-lx-settings:before {
    content: "\e68a";
}

.el-icon-lx-questionfill:before {
    content: "\e690";
}

.el-icon-lx-question:before {
    content: "\e691";
}

.el-icon-lx-shopfill:before {
    content: "\e697";
}

.el-icon-lx-pic:before {
    content: "\e69b";
}

.el-icon-lx-filter:before {
    content: "\e69c";
}

.el-icon-lx-top:before {
    content: "\e69e";
}

.el-icon-lx-right:before {
    content: "\e6a3";
}

.el-icon-lx-refresh:before {
    content: "\e6a4";
}

.el-icon-lx-moreandroid:before {
    content: "\e6a5";
}

.el-icon-lx-deletefill:before {
    content: "\e6a6";
}

.el-icon-lx-cart:before {
    content: "\e6af";
}

.el-icon-lx-qrcode:before {
    content: "\e6b0";
}

.el-icon-lx-remind:before {
    content: "\e6b2";
}

.el-icon-lx-delete:before {
    content: "\e6b4";
}

.el-icon-lx-profile:before {
    content: "\e6b7";
}

.el-icon-lx-home:before {
    content: "\e6b8";
}

.el-icon-lx-cartfill:before {
    content: "\e6b9";
}

.el-icon-lx-homefill:before {
    content: "\e6bb";
}

.el-icon-lx-message:before {
    content: "\e6bc";
}

.el-icon-lx-addressbook:before {
    content: "\e6bd";
}

.el-icon-lx-link:before {
    content: "\e6bf";
}

.el-icon-lx-lock:before {
    content: "\e6c0";
}

.el-icon-lx-unlock:before {
    content: "\e6c2";
}

.el-icon-lx-weibo:before {
    content: "\e6c4";
}

.el-icon-lx-friendaddfill:before {
    content: "\e6c9";
}

.el-icon-lx-friendadd:before {
    content: "\e6ca";
}

.el-icon-lx-friend:before {
    content: "\e6cc";
}

.el-icon-lx-goods:before {
    content: "\e6cd";
}

.el-icon-lx-present:before {
    content: "\e6d3";
}

.el-icon-lx-roundaddfill:before {
    content: "\e6d8";
}

.el-icon-lx-roundadd:before {
    content: "\e6d9";
}

.el-icon-lx-notificationforbidfill:before {
    content: "\e6db";
}

.el-icon-lx-redpacket:before {
    content: "\e6e0";
}

.el-icon-lx-infofill:before {
    content: "\e6e4";
}

.el-icon-lx-info:before {
    content: "\e6e5";
}

.el-icon-lx-forwardfill:before {
    content: "\e6ea";
}

.el-icon-lx-forward:before {
    content: "\e6eb";
}

.el-icon-lx-rechargefill:before {
    content: "\e6ec";
}

.el-icon-lx-recharge:before {
    content: "\e6ed";
}

.el-icon-lx-vipcard:before {
    content: "\e6ee";
}

.el-icon-lx-voice:before {
    content: "\e6ef";
}

.el-icon-lx-voicefill:before {
    content: "\e6f0";
}

.el-icon-lx-wifi:before {
    content: "\e6f2";
}

.el-icon-lx-share:before {
    content: "\e6f3";
}

.el-icon-lx-searchlist:before {
    content: "\e6fe";
}

.el-icon-lx-service:before {
    content: "\e6ff";
}

.el-icon-lx-sort:before {
    content: "\e700";
}

.el-icon-lx-down:before {
    content: "\e703";
}

.el-icon-lx-mobile:before {
    content: "\e704";
}

.el-icon-lx-mobilefill:before {
    content: "\e705";
}

.el-icon-lx-copy:before {
    content: "\e706";
}

.el-icon-lx-noticefill:before {
    content: "\e709";
}

.el-icon-lx-notice:before {
    content: "\e70a";
}

.el-icon-lx-female:before {
    content: "\e71a";
}

.el-icon-lx-male:before {
    content: "\e71c";
}

.el-icon-lx-rankfill:before {
    content: "\e721";
}

.el-icon-lx-rank:before {
    content: "\e722";
}

.el-icon-lx-apps:before {
    content: "\e729";
}

.el-icon-lx-picfill:before {
    content: "\e72c";
}

.el-icon-lx-presentfill:before {
    content: "\e732";
}

.el-icon-lx-peoplefill:before {
    content: "\e735";
}

.el-icon-lx-people:before {
    content: "\e736";
}

.el-icon-lx-servicefill:before {
    content: "\e737";
}

.el-icon-lx-file:before {
    content: "\e739";
}

.el-icon-lx-attentionfill:before {
    content: "\e73c";
}

.el-icon-lx-attention:before {
    content: "\e73d";
}

.el-icon-lx-read:before {
    content: "\e742";
}

.el-icon-lx-calendar:before {
    content: "\e74a";
}

.el-icon-lx-tagfill:before {
    content: "\e751";
}

.el-icon-lx-tag:before {
    content: "\e752";
}

.el-icon-lx-group:before {
    content: "\e753";
}

.el-icon-lx-hotfill:before {
    content: "\e757";
}

.el-icon-lx-hot:before {
    content: "\e758";
}

.el-icon-lx-upload:before {
    content: "\e75d";
}

.el-icon-lx-punch:before {
    content: "\e764";
}

.el-icon-lx-add:before {
    content: "\e767";
}

.el-icon-lx-move:before {
    content: "\e768";
}

.el-icon-lx-crownfill:before {
    content: "\e776";
}

.el-icon-lx-crown:before {
    content: "\e777";
}

.el-icon-lx-goodsfill:before {
    content: "\e778";
}

.el-icon-lx-messagefill:before {
    content: "\e779";
}

.el-icon-lx-emojifill:before {
    content: "\e78d";
}

.el-icon-lx-text:before {
    content: "\e791";
}

.el-icon-lx-recordfill:before {
    content: "\e7a4";
}

.el-icon-lx-record:before {
    content: "\e7a6";
}

.el-icon-lx-attentionforbid:before {
    content: "\e7b2";
}

.el-icon-lx-attentionforbidfill:before {
    content: "\e7b3";
}

.el-icon-lx-full:before {
    content: "\e7bc";
}

.el-icon-lx-mail:before {
    content: "\e7bd";
}

.el-icon-lx-newsfill:before {
    content: "\e7c3";
}

.el-icon-lx-news:before {
    content: "\e7c6";
}

.el-icon-lx-exit:before {
    content: "\e7cb";
}

.el-icon-lx-skinfill:before {
    content: "\e7cc";
}

.el-icon-lx-skin:before {
    content: "\e7cd";
}

.el-icon-lx-redpacket_fill:before {
    content: "\e7d3";
}

.el-icon-lx-global:before {
    content: "\e7eb";
}